*{
    font-family: 'Roboto', sans-serif;
}
html{
    height: 100%;
}

body{
    height: 100vh; 
    background-color: #DDD;
    margin:0;
    
    padding: 0 26px;

    display: flex;
    flex-direction: row;
    align-items: stretch;
}

/* LEFT-DIV */
.left-div{
    width: 29vw;
    
    margin: 24px 0;
    background-color: #fff;

    margin-right: 24px;
    border-radius: 10px;
    padding: 20px 25px;
}

/* upper-menu */
.left-div .upper-menu{
    display: flex;
    flex-direction: row;
    border-radius: 6px;
}
.left-div .upper-menu .upper-button{

    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F1F0F0;
    padding: 8px 0;
    transition: background 0.3s ease-out;
}
.left-div .upper-menu .upper-button.selected{
    background-color: #8E8D8D;
}
.left-div .upper-menu .upper-button:hover{
    cursor: pointer;
}
.left-div .upper-menu .upper-button:not(.selected):hover{
    background-color: #c2c2c2;
}

.left-div .upper-menu .upper-left-button{

    border-radius: 6px 0 0 6px;
}
.left-div .upper-menu .upper-right-button{
    
    border-radius: 0 6px 6px 0;
}


.left-div .upper-menu .upper-button.selected svg{
    fill: #FFF;
}
.left-div .upper-menu .upper-button svg{
    fill: #8E8D8D;
}

.left-div .upper-menu .upper-left-button svg circle{
    display: none;;
}
.left-div .upper-menu .upper-left-button svg circle.have{
    display: block;
}

/* assigned */


/* MAIN-DIV */
.main-div{
    width: auto;
    
    margin: 24px 0;
    background-color: #fff;
    flex-grow: 1;
    border-radius: 10px;
    padding: 20px 50px;
}