*{
    font-family: 'Roboto', sans-serif;
}
html{
    height: 100%;
}

body{
    height: 100vh; 
    background-color: #FFF;
    margin:0;
    
    /* padding: 0 26px; */

    display: flex;
    flex-direction: column;
    align-items: stretch;

    overflow: hidden;

    position: relative;
}
/* 
    LOGO 
*/
/* div.logo{
    margin: 14px 0 0 25px;

} */

/* 
    NAV 
*/
nav{
    /* background-color: red; */
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-bottom: 1px solid #F1F0F0;

    position: relative;
}
nav .logo{
    margin-left: 14px;
}

nav .right-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 25px;
}
nav .right-menu .team{
    font-size: 1.2rem;
    color: #0079E9;
    font-weight: normal;
    text-transform: uppercase;

    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
nav .right-menu .team.selected{

}
nav .right-menu .team .current-members{
    margin-left: 15px;
    font-size: 1.1rem;
    font-weight: bold;

    background-color: #0079E9;
    color: white;
    width: 34px;
    height: 34px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
}
nav .right-menu svg{
    margin-left: 50px;
    cursor: pointer
}
nav .right-menu svg.selected{

}

/* 
    POPUP 
*/
.popup{
    position: absolute;
    top:0%;
    right: 0%;

    width: 230px;
    /* background-color: red; */



    height: 100%;
    transform: translateX(100%);
    will-change: transform;
    transition: transform 0.3s ease-out;
    background-color: white;
    border-left: 1px solid #F1F0F0;
}
.popup.open{
    transform: translateX(0%);
}
.popup svg.close-popup{
    cursor: pointer;
}

.popup.popup-team .menu{
    color: #1B5489;
    font-weight: bold;
    font-size: 1em;
    margin : 20px 25px 0px 20px; /* important value*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}


.popup.popup-team .content{
    width: 52%;
    /* background-color: lightgreen; */
    margin : 20px 25px 0px 20px;
}
.popup.popup-team .content h2{
    color: #0079E9;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
}
.popup.popup-team .content ul{
    list-style: none;
    padding: 0;
    margin: 25px 0px 30px 0px;
}
.popup.popup-team .content ul li{
    margin-bottom: 25px;
    color: #686868;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.popup.popup-team .content ul li::after{
    content: ' ';
    width: 1em;
    height: 1em;

    border-radius: 50%;
    display: block;
}
.popup.popup-team .content ul.free li::after{
    background-color: #AEDD73;
}
.popup.popup-team .content ul.occupied li::after{
    background-color: #FA5050;
}
.popup.popup-team .content ul li:last-of-type{
    margin-bottom: 0px;
}


.popup.popup-setting{

}



/* 
    MAIN 
*/
main{
    /* background-color: lightblue; */

    flex-grow: 1;
    position: relative;
}
/* left */
section.left{
    /* background-color: pink; */
    width: 27%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;

    transform: translateX(-80%);
    will-change: transform;
    transition: transform 0.6s ease-out;
    padding: 25px 0;

    border-right: 1px solid #F1F0F0;

}
section.left.open{
    transform: translateX(0%);
}


/* upper-menu */
section.left .upper-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    margin: 0 20px 0px 25px;
}
section.left .upper-menu .upper-button{

    /* flex-grow: 1; */

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    background-color: #fff;
    border: 1px solid #474747;
    border-radius: 3px;
    width: 40%;
    color: #474747;
    font-size: 0.9em;
    will-change: border, background, color;
    transition-property: background,color,border;
    transition:  0.3s ease-out;

    position: relative;


}
section.left .upper-menu .upper-button.selected{
    background-color: #0079E9;
    border: 1px solid #0079E9;
    color:white;
    box-shadow: 0px 2px 8px rgba(0,0,0, 0.25);
}
section.left .upper-menu .upper-button:hover{
    cursor: pointer;
}
section.left .upper-menu .upper-button:not(.selected):hover{
    box-shadow: 0px 2px 8px rgba(0,0,0, 0.25);
}
section.left .upper-menu .button{
    display: flex;
    flex-direction: row;
}
section.left .upper-menu .upper-left-button{

    /* border-radius: 6px 0 0 6px; */
    margin-right: 24px;
}
section.left .upper-menu .upper-right-button{
    
    /* border-radius: 0 6px 6px 0; */
}


section.left .upper-menu .upper-button.selected svg{
    stroke: #FFF;
}
section.left .upper-menu .upper-button svg{
    stroke: #474747;
    margin-right: 1em;
    width: 24px;
    height: 24px;
}

section.left .upper-menu .upper-left-button svg circle{
    display: none;
    stroke: none;
}
section.left .upper-menu .upper-left-button svg circle.have{
    display: block;
}

section.left .upper-menu .close-button{
    width: 24px;
    height: 24px;
    cursor: pointer;
}


section.left .content{
    opacity: 0;
    will-change: opacity;
    transition:opacity 0.6s ease-out;
}
section.left.open .content{
    opacity: 1;
}

section.left .open-menu{
    opacity: 1;

    position: absolute;
    top:0%;
    right: 0%;
    width: 20%;
    height: 100%;
    /* transform: translate(-50%,-50%); */
    display: flex;
    align-items: center;
    justify-content: center;
    will-change: opacity;
    transition:opacity 0.6s ease-out;

}
section.left.open .open-menu{
    opacity: 0;
    display: none;
}

section.left .open-menu svg{
    cursor:pointer;
}

/* card */
.card{
    border-radius: 10px 10px 0 10px;

    height: 13vh;



    will-change: height;
    transition: height 0.3s ease-out;

    /* clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%); */
    position: relative;
    margin: 0 20px 20px 25px;
    z-index: 0;
}
.card:first-of-type{
    margin-top:20px;
}

.card.open{
    height: 22vh;
}
.card .alert{
    width: 16px;
    height: 16px;

    border-radius: 50%;
    position: relative;
    top:0;
    left:0;
    transform: translate(-50%,-50%);
    z-index: -10;
}

.card.alert-1 .alert{
    background-color: #AEDD73;
    
}
.card.alert-2 .alert{
    background-color: #F6B77D;

}
.card.alert-3 .alert{
    background-color: #FA5050;

}
.card.alert-4 .alert{
    background-color: #B871DA;

}

.card.alert-1.open .inner-card{
    border: 1px solid #AEDD73;
}
.card.alert-2.open .inner-card{
    border: 1px solid #F6B77D;
}
.card.alert-3.open .inner-card{
    border: 1px solid #FA5050;
}
.card.alert-4.open .inner-card{
    border: 1px solid #B871DA;
}

.card .inner-card{
    background-color: #FFF;
    border-radius: 10px 10px 0 10px;

    height: 13vh;

    display: flex;
    flex-direction: row;
    width: 100%;
    /* margin-bottom: 20px; */

    border: 1px solid #B2B2B2;

    will-change: height;
    transition-property: height, border;
    transition: 0.3s ease-out;

    /* clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%); */
    position: absolute;
    top:0;
    left:0;

    z-index: 0;
    display: flex;

    overflow: hidden;
}
.card.open .inner-card{
    height: 22vh;
}


.card .inner-card .info{
    flex-grow: 1;
    margin: 14px 10px;
    position: relative;
}

.card .inner-card .info .time{
    position: absolute;
    font-size: 0.5em;font-weight: lighter;
    right: 0;
    top:0;    
}
.card .inner-card .info svg.cross{
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
}
.card.open .inner-card .info svg.cross .plus{
    display: none;
}

.card .inner-card .info .content .salle{
    font-size: 1em;
    font-weight: bold;

    margin-bottom: 8px; 

}
.card .inner-card .info .content .name{
    font-size: 0.75em;
    font-weight: normal;
    margin-bottom: 10px;
}
.card .inner-card .info .content .name span{
    font-size: 0.6em;
    font-weight: normal;
    font-style: italic;
}
.card .inner-card .info .content .status{
    font-size: 0.6em;
    font-weight: lighter;
    font-style: italic;
}
.unasigned .card .inner-card .info .content .status{
    color:#417006;
}
.asigned .card .inner-card .info .content .status{
    color:#FF2828;
}
.historique .card .inner-card .info .content .status{
    color:#B2B2B2;
}


.card .inner-card .info .more-info {
    opacity: 0;
    will-change: opacity;
    transition: opacity 0.3s ease-out;
}
.card.open .inner-card .info .more-info {
    opacity: 1;
    margin-top: 8px;
}

.card .inner-card .info .more-info .line{
    background-color: #E0E0E0;
    height: 1px;
    width: 40%;
    margin-bottom: 5px;
}
.card .inner-card .info .more-info .patient-name{
    font-size: 0.6em;
    font-weight: normal;
}
.card .inner-card .info .more-info h3{
    font-weight: normal;
    font-size: 0.6em;
}
.card .inner-card .info .more-info h3 u{
    text-decoration: underline;
}
.card .inner-card .info .more-info .antecedent-content{
    font-size: 0.5em;
    font-weight: lighter;
    margin-right:18px;

    overflow-y: scroll;
    height: 4vh;
    /* flex-grow: 1; */
}
.card .inner-card .info .more-info .antecedent-content::-webkit-scrollbar{
    display: none;
}


/* assigned */
section.left h2{
    font-weight: bold;
    font-size: 1rem;
    /* margin-bottom: 20px; */
    color:#1B5489;
    margin: 25px 20px 0px 25px;

}
section.left h2.special{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
section.left h2.special span.info{
    color: #FFF;
    background-color: #1B5489;
    width: 26px;
    height: 26px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    font-size: 1em;
    font-weight: bold;
}

section.left .cards-div{

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /* margin: 0 20px 0 25px; */
    /* max-height: 34vh;
    overflow: scroll; */
}
section.left .cards-div .cards{

    overflow-y: scroll;
    flex-grow: 1;
    /* min-height: fit-content; */
    max-height: 34vh ;
}
section.left .cards-div .cards::-webkit-scrollbar{
    display: none;
}

section.left .current.selected{
    display: block;
}
section.left .current{
    display: none;
}
section.left .historique.selected{
    display: block;
}
section.left .historique{
    display: none;
}

section.left .historique .cards{
    max-height: 77vh;

    overflow-y: scroll;
}
section.left .historique .cards::-webkit-scrollbar{
    display: none;
}
/* popup info */
section.popup-info{
    display: none;
    position: absolute;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;

    background-color: rgba(0, 0, 0, 0.25);

    
    align-items: center;
    justify-content: center;

}
section.popup-info.open{
    display: flex;
}

section.popup-info .content{
    background-color: #fff;
    border: 1px solid #0079E9;
    border-radius: 3px;

    width: 30vw;
    height: 40vh;
}
section.popup-info .content .alert-type.alert-1  .round-alert{
    background-color: #AEDD73;
    
}
section.popup-info .content .alert-type.alert-2  .round-alert{
    background-color: #F6B77D;

}
section.popup-info .content .alert-type.alert-3  .round-alert{
    background-color: #FA5050;

}
section.popup-info .content .alert-type.alert-4  .round-alert{
    background-color: #B871DA;

}
section.popup-info .content .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 14px 14px 15px 14px;
}
section.popup-info .content .top h2{
    font-size: 1em;
    font-weight: normal;
    color:#1B5489;
    margin:0;
}
section.popup-info .content .top svg{
    cursor: pointer;

    height: 24px;
    width: 24px;
}    


section.popup-info .content .alert-definition{
    margin: 0px 14px;
    margin-bottom: 25px;
}
section.popup-info .content .alert-definition .alert-type{
    font-size: 0.6em;
    font-weight: normal;
    margin-bottom: 18px;
    color:#1B5489;

    display: flex;
    flex-direction: row;
}
section.popup-info .content .alert-definition .alert-type:last-of-type{
    margin-bottom: 0;
}
section.popup-info .content .alert-definition .alert-type .round-alert{
    width: 16px;
    height: 16px;
    margin-right: 10px;
    border-radius: 50%;
}


section.popup-info .content .icon-definition{
    margin: 0px 14px;

}
section.popup-info .content .icon-definition tr{
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    

}
section.popup-info .content .icon-definition .un-truc{
    display: flex;
    flex-direction: row;
    align-items: center;

}
section.popup-info .content .icon-definition tr td{
    font-size: 0.5em;
    font-weight: normal;
    padding-right: 16px;
    padding-bottom: 16px;
    color:#1B5489;
}
section.popup-info .content .icon-definition tr .icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: #0079E9;
    border-radius: 2px;

    margin-right: 5px;
}
section.popup-info .content .icon-definition tr .icon-container img{

}


/* map */
section.map{

}